//
// --------------------------------------------------------------------------
// ChiChi (v0.1.0-alpha1): elements/badge.styl
// Licensed under MIT (https://github.com/chichi/chichi/blob/master/LICENSE)
// --------------------------------------------------------------------------
//
