//
// --------------------------------------------------------------------------
// ChiChi (v0.1.0-alpha1): elements/icon.styl
// Licensed under MIT (https://github.com/chichi/chichi/blob/master/LICENSE)
// --------------------------------------------------------------------------
//

.icon
  align-items: center
  display: inline-flex
  justify-content: center
  height: $icon_dimensions
  width: $icon_dimensions
  // Sizes
  &.is-small
    height: $icon_dimensions_small
    width: $icon_dimensions_small
  &.is-medium
    height: $icon_dimensions_medium
    width: $icon_dimensions_medium
  &.is-large
    height: $icon_dimensions_large
    width: $icon_dimensions_large
