//
// --------------------------------------------------------------------------
// ChiChi (v0.1.0-alpha2): utilities/animations.styl
// Licensed under MIT (https://github.com/chichi/chichi/blob/master/LICENSE)
// --------------------------------------------------------------------------
//

@keyframes moveIndeterminate
  from
    background-position: 200% 0
  to
    background-position: -200% 0

@keyframes spinAround
  from
    transform: rotate(0deg)
  to
    transform: rotate(359deg)
