//
// --------------------------------------------------------------------------
// ChiChi (v0.1.0-alpha2): utilitiess/flags.styl
// Licensed under MIT (https://github.com/chichi/chichi/blob/master/LICENSE)
// --------------------------------------------------------------------------
//

// Enable Responsiveness for Mobile Devices
$enable_mobile ?= true
// Enable Responsiveness for Tablet Devices
$enable_tablet ?= true
// Enable Responsiveness for Touch Devices
$enable_touch ?= true
// Enable Responsiveness for Desktop Devices
$enable_desktop ?= true
// Enable Responsiveness for Widescreen Devices
$enable_widescreen ?= true
// Enable Responsiveness for Full HD Devices
$enable_fullhd ?= true

// Enable Right to Left Mode
$enable_rtl ?= true

// Enable The Variable Gap setting
$enable_variable_columns ?= true

$globals ?= {
  'variable_columns': true,
  'rtl': true,
  'widescreen': true,
  'fullhd': true
}
