//
// --------------------------------------------------------------------------
// ChiChi (v0.1.0-alpha1): utilitiess/placeholders.styl
// Licensed under MIT (https://github.com/chichi/chichi/blob/master/LICENSE)
// --------------------------------------------------------------------------
//

$unselectable
  unselectable()

$appearance
  -moz-appearance: none
  -webkit-appearance: none

$arrow
  arrow()

$block
  block()

$control
  control()

$delete
  delete()

$loader
  loader()

$overlay
  overlay()
