//
// --------------------------------------------------------------------------
// ChiChi (v0.1.0-alpha2): utilitiess/variables.styl
// Licensed under MIT (https://github.com/chichi/chichi/blob/master/LICENSE)
// --------------------------------------------------------------------------
//

// Base
@require '@variables/colors'
@require '@variables/typography'
@require '@variables/spacing'
@require '@variables/responsiveness'
@require '@variables/animations'
@require '@variables/misc'

// Components
@require '@variables/accordion'
@require '@variables/alert'
// @require '@variables/breadcrumb'
// @require '@variables/callout'
// @require '@variables/card'
// @require '@variables/dropdown'
// @require '@variables/level'
// @require '@variables/media'
// @require '@variables/modal'
// @require '@variables/navbar'
// @require '@variables/page-loader'
// @require '@variables/pagination'
// @require '@variables/panel'
// @require '@variables/sidebar'
// @require '@variables/slider'
// @require '@variables/tabs'

// Elements
// @require '@variables/badge'
@require '@variables/box'
@require '@variables/button'
@require '@variables/container'
@require '@variables/content'
@require '@variables/icon'
@require '@variables/image'
@require '@variables/list'
@require '@variables/progress'
@require '@variables/table'
@require '@variables/tag'
@require '@variables/title'

// Form
@require '@variables/controls'

// Grid
@require '@variables/columns'
@require '@variables/tiles'

// Layout
@require '@variables/footer'
@require '@variables/hero'
@require '@variables/section'
