//
// --------------------------------------------------------------------------
// ChiChi (v0.1.0-alpha2): layout/footer.styl
// Licensed under MIT
// --------------------------------------------------------------------------
//

.footer
  background-color: $footer_background_color
  padding: $footer_padding
  if $footer_color
    color: $footer_color
