//
// --------------------------------------------------------------------------
// ChiChi (v0.1.0-alpha1): layout/footer.styl
// Licensed under MIT (https://github.com/chichi/chichi/blob/master/LICENSE)
// --------------------------------------------------------------------------
//

.footer
  background-color: $footer_background_color
  padding: $footer_padding
  if $footer_color
    color: $footer_color
