// Alerts
$alert_background_color      ?= $background
$alert_code_background_color ?= $scheme_main
$alert_radius                ?= $radius
$alert_padding               ?= 1.25rem 2.5rem 1.25rem 1.5rem


$alert_colors                ?= $colors
