// Button

$button_color                       ?= $text_strong
$button_background_color            ?= $scheme_main
$button_family                      ?= false

$button_border_color                ?= $border
$button_border_width                ?= $control_border_width

$button_padding_vertical            ?= 'calc(0.5em - %s)' % $button_border_width
$button_padding_horizontal          ?= 1em

$button_hover_color                 ?= $link_hover
$button_hover_border_color          ?= $link_hover_border

$button_focus_color                 ?= $link_focus
$button_focus_border_color          ?= $link_focus_border
$button_focus_box_shadow_size       ?= 0 0 0 .125em
$button_focus_box_shadow_color      ?= chichi_rgba($link, 0.25)

$button_active_color                ?= $link_active
$button_active_border_color         ?= $link_active_border

$button_text_color                  ?= $text
$button_text_decoration             ?= underline
$button_text_hover_background_color ?= $background
$button_text_hover_color            ?= $text_strong

$button_disabled_background_color   ?= $scheme_main
$button_disabled_border_color       ?= $border
$button_disabled_shadow             ?= none
$button_disabled_opacity            ?= .5

$button_static_color                ?= $text_light
$button_static_background_color     ?= $scheme_main_ter
$button_static_border_color         ?= $border

$button_colors                      ?= $colors
