// Callout

$callout_background_color               ?= $background
$callout_radius                         ?= $radius

$callout_header_background_color        ?= $text
$callout_header_body_border_width       ?= 0
$callout_header_color                   ?= $text_invert
$callout_header_weight                  ?= $weight_bold
$callout_header_padding                 ?= 0.75em 1em
$callout_header_radius                  ?= $radius

$callout_body_border_color              ?= $border
$callout_body_border_width              ?= 0 0 0 4px
$callout_body_color                     ?= $text
$callout_body_padding                   ?= 1.25em 1.5em
$callout_body_radius                    ?= $radius
$callout_body_pre_background_color      ?= $scheme_main
$callout_body_pre_code_background_color ?= transparent

$callout_colors                         ?= $colors
