// Controls

$control_radius ?= $radius
$control_radius_small ?= $radius_small

$control_border_width ?= 1px

$control_height ?= 2.5em
$control_line_height ?= 1.5

$control_padding_vertical ?= "calc(0.5em - %s)" % $control_border_width
$control_padding_horizontal ?= "calc(0.75em - %s)" % $control_border_width
