// Content

$content_heading_color                ?= $text_strong
$content_heading_weight               ?= $weight_semibold
$content_heading_line_height          ?= 1.125

$content_blockquote_background_color  ?= $background
$content_blockquote_border_left       ?= 5px solid $border
$content_blockquote_padding           ?= 1.25em 1.5em

$content_pre_padding                  ?= 1.25em 1.5em

$content_table_cell_border            ?= 1px solid $border
$content_table_cell_border_width      ?= 0 0 1px
$content_table_cell_padding           ?= 0.5em 0.75em
$content_table_cell_heading_color     ?= $text_strong
$content_table_head_cell_border_width ?= 0 0 2px
$content_table_head_cell_color        ?= $text_strong
$content_table_foot_cell_border_width ?= 2px 0 0
$content_table_foot_cell_color        ?= $text_strong
