// List
$list_background_color             ?= $scheme_main
$list_box_shadow                   ?= 0 2px 3px rgba($scheme_invert, 0.1), 0 0 0 1px rgba($scheme_invert, 0.1)
$list_border_radius                ?= $radius

// List Item
$list_item_border                  ?= 1px solid $border
$list_item_color                   ?= $text
$list_item_active_background_color ?= $link
$list_item_active_color            ?= $link_invert
$list_item_hover_background_color  ?= $background
$list_item_padding                 ?= 0.5em 1em
