// Misc

$alignments ?= {
  'centered': center
  'justified': justify
  'left': left
  'right': right
}


$radius_small   ?= 2px
$radius         ?= 4px
$radius_large   ?= 6px
$radius_rounded ?= 290486px
