// Progress
$progress_bar_background_color   ?= $border_light
$progress_value_background_color ?= $text
$progress_border_radius          ?= $radius_rounded
$progress_indeterminate_duration ?= 1.5s
$progress_sizes                  ?= small medium large
$progress_colors                 ?= $colors
