// Table

$table_color                                   ?= $text_strong
$table_background_color                        ?= $scheme_main

$table_cell_border                             ?= 1px solid $border
$table_cell_border_width                       ?= 0 0 1px
$table_cell_padding                            ?= 0.5em 0.75em
$table_cell_heading_color                      ?= $text_strong

$table_head_cell_border_width                  ?= 0 0 2px
$table_head_cell_color                         ?= $text_strong
$table_foot_cell_border_width                  ?= 2px 0 0
$table_foot_cell_color                         ?= $text_strong

$table_head_background_color                   ?= transparent
$table_body_background_color                   ?= transparent
$table_foot_background_color                   ?= transparent

$table_row_hover_background_color              ?= $scheme_main_bis

$table_row_active_background_color             ?= $primary
$table_row_active_color                        ?= $primary_invert

$table_striped_row_even_background_color       ?= $scheme_main_bis
$table_striped_row_even_hover_background_color ?= $scheme_main_ter

$table_colors                                  ?= $colors
