// Title

$title_color              ?= $text_strong
$title_family             ?= false
$title_size               ?= $size_3
$title_weight             ?= $weight_semibold
$title_line_height        ?= 1.125
$title_strong_color       ?= inherit
$title_strong_weight      ?= inherit
$title_sub_size           ?= 0.75em
$title_sup_size           ?= 0.75em

$subtitle_color           ?= $text
$subtitle_family          ?= false
$subtitle_size            ?= $size_5
$subtitle_weight          ?= $weight_normal
$subtitle_line_height     ?= 1.25
$subtitle_strong_color    ?= $text_strong
$subtitle_strong_weight   ?= $weight_semibold
$subtitle_negative_margin ?= -1.25rem
