//
// --------------------------------------------------------------------------
// ChiChi (v0.1.0-alpha2): helpers/color.styl
// Licensed under MIT
// --------------------------------------------------------------------------
//

has_color_helpers()
has_color_shade_helpers()
has_color_light_helpers()
has_color_dark_helpers()
