//
// --------------------------------------------------------------------------
// ChiChi (v0.1.0-alpha1): helpers/color.styl
// Licensed under MIT (https://github.com/chichi/chichi/blob/master/LICENSE)
// --------------------------------------------------------------------------
//

has_color_helpers()
has_color_shade_helpers()
has_color_light_helpers()
has_color_dark_helpers()
