//
// --------------------------------------------------------------------------
// ChiChi (v0.1.0-alpha1): helpers/typography.styl
// Licensed under MIT (https://github.com/chichi/chichi/blob/master/LICENSE)
// --------------------------------------------------------------------------
//

typography_sizes()

+mobile()
  typography_sizes('mobile')

+tablet()
  typography_sizes('tablet')

+touch()
  typography_sizes('touch')

+desktop()
  typography_sizes('desktop')

+widescreen()
  typography_sizes('widescreen')

+fullhd()
  typography_sizes('fullhd')

alignments()

+mobile()
  alignments('mobile')

+tablet()
  alignments('tablet')

+touch()
  alignments('touch')

+desktop()
  alignments('desktop')

+widescreen()
  alignments('widescreen')

+fullhd()
  alignments('fullhd')
